.white-part-1 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
  margin: 5vw 0 0 5vw;
}
.pd-body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 2px dashed var(--thelight2);
  border-radius: 20px;
  padding: 2rem;
  color: var(--thegrey1);
}
.pd-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--thegrey1);
}
.pd-values {
  display: flex;
}
#pd-1 {
  padding-right: 3rem;
  font-weight: 700;
}
#pd-2 {
  padding-right: 1.75rem;
  font-weight: 700;
}
#pd-3 {
  padding-right: 4.25rem;
  font-weight: 700;
}
#pd-4 {
  padding-right: 2rem;
  font-weight: 700;
}
#pd-5 {
  padding-right: 4.25rem;
  font-weight: 700;
}
#pd-6 {
  padding-right: 4rem;
  font-weight: 700;
}
#pd-7 {
  padding-right: 2rem;
  font-weight: 700;
}
#pd-8 {
  padding-right: 0.8rem;
  font-weight: 700;
}
#pd-9 {
  padding-right: 1rem;
  font-weight: 700;
}
#pd-btn {
  padding: 1rem 2rem;
  margin: 0 32rem 0 0;
  border-radius: 15px;
  background-color: var(--thelight2);
  font-size: 1rem;
  border: none;
  font-weight: 700;
  color: var(--thegrey1);
  border: 2px solid var(--thelight2);
  transition: 0.2s ease-in-out;
}
#pd-btn:hover {
  cursor: pointer;
  background-color: var(--thewhite);
  border: 2px dashed var(--thegrey1);
}
