.logo-1 {
  color: var(--thegrey1);
  font-size: 2.2rem;
  margin: 1.5rem 2.5rem;
  font-weight: 800;
}
.heading-emp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.form-container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-items {
  /* min-height: 100vh; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}
.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-item label {
  font-weight: bold;
}
#dept {
  padding: 0.75rem 0.5rem;
  margin: 0 0 0 4rem;
  border: 2px solid var(--thepop);
  border-radius: 0.75rem;
}

#desig {
  display: flex;
  padding: 0.75rem 7rem 0.75rem 1rem;
  margin: 0 0 0 4rem;
  border: 2px solid var(--thepop);
  border-radius: 0.75rem;
}
.form-item input {
  padding: 0.75rem 4.5rem;
  margin: 0 0 0 4rem;
  border: 2px solid var(--thepop);
  border-radius: 0.75rem;
}
#emp-signup-btn {
  border: 2px dashed var(--thegrey1);
  background-color: var(--thewhite);
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.75rem;
  padding: 1.25rem 18rem;
  margin: 1rem 0;
  transition: 0.2s ease-in-out;
}
#emp-signup-btn:hover {
  background-color: var(--thepop);
  border: 2px solid var(--thepop);
  cursor: pointer;
}
